<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stoicism Quote Generator</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <h1>Stoicism Corner</h1>
  <p>Have you ever wanted to get instant words of wisdom from the Stoics of Ancient Times?</p>
  <p>Now is your chance!</p>
  <p>Go ahead and click the statue below to have wisdom imparted upon you!</p>
  <form action="/quote" method="POST">
    <input type="image" src="/public/statue.png" alt="Submit" class="image-button">
  </form>
</body>
</html>