<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Finder</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to The Cocktail Finder!</h1>
    <p>Enter a drink name to search</p>

    <form action="/cocktail/search" method="POST">
        <input type="text" name="drinkName" placeholder="Enter drink name" required>
        <br>
        <button type="submit">Search Cocktail</button>
    </form>
    <h2>OR...</h2>
    <form action="/cocktail/random" method="POST">
        <p>I'm feeling lucky...</p>
      <button type="submit">Get Random Cocktail</button>
  </form>
  <img src="https://shorturl.at/ikXWe" alt="Cocktail Gif">
</body>
</html>
