body {
  font-family: Arial, sans-serif;
  background-color: #2b032183;
  text-align: center;
  padding-top: 1px;
}

h1 {
  color: #000000;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

.ingredient-box {
  text-align: center; 
  margin: 0 auto; 
}

.ingredient-box h2 {
  text-align: center; 
}

.ingredient-box ul {
  list-style-type: none; 
  padding: 0; 
  text-align: center;
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

form button:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  color: #000000;
  text-align: center;
}

img {
  height: 250px;
  width: auto;
}